<section style="">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 fixed-265-height">
          <div class="card-body text-center">
            <img src="/images/welcome.jpg" alt="Welcome" class="card-img-top mx-auto m-2 "></img>  
          </div>
        </div>       
      </div>
      <div class="col-lg-8">
        <div class="card mb-4 fixed-265-height">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><h3>Welcome!</h3></p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.fullname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"> You have {{ quantity }} Notes. 
                 </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                   <a href="/notes" class="btn btn-dark">
                        Manage your Notes
                    </a>
                </p>
              </div>
            </div>
                   
          </div>
        </div>
       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>